<div class="wrapper">
  <div class="head bg-primary">
    <div class="head-top d-flex justify-content-around">
      <div class="links d-flex align-items-center">
        <%= link_to root_path, class: 'app-name text-monospace' do %>
          <i class="fas fa-book-reader"></i> DocumentViewer
        <% end %>
        </div>
        <%= link_to destroy_user_session_path, class: "logout nav-link text-light text-monospace", span: "sr-only", method: :delete do %>
          <i class="fas fa-user-slash"></i>ログアウト
        <% end %>
        </div>
    </div>
    <div class="sendForm">
      <div id="sendEmail">
        <%= form_tag(:controller => "user_mailers", :action => "create") do %>
        <%= email_field :send_email,'', placeholder: "宛先", class:"emailform" %>
        <%= text_field :subject,'', placeholder: "件名", class:"emailform" %>
        <%= text_area :message,'', placeholder: "本文", class:"emailform" %>
        <%= submit_tag "送信" %>
      <% end %>
      </div>
    </div>
  </div>
</div>


