<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
    <%= link_to root_path, class: 'app-name text-monospace', style: "font-size: 20px;" do %>
        <i class="fas fa-book-reader"></i> DocumentViewer
    <% end %>
    <div class="user-name text-monospace">
      <i class="fas fa-user-tie username"> <%= @user_name %></i>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-turbolinks="false">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to destroy_user_session_path, class: "logout nav-link text-light text-monospace", span: "sr-only", method: :delete do %>
            <i class="fas fa-user-slash"></i>ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="userEmail bg-primary ">
    <div class="userEmailInfo">
      <div class="userEmailAddress">
        <p class="fileInfo" style="color: white;">差出人: <%= @user_mail %></p>
        <% @images.each do |image| %>
          <p class="fileInfo" style="color: white;">ファイル名：<%= image.filename %></p>
        <% end %>
        <p class="fileInfo" style="color: white;">添付枚数：<%= @images.length %>枚</p>
      </div>
    </div>
    <div class="sendForm">
      <div id="sendEmail">
        <%= form_with(url: folder_document_user_mailers_path(@folder.id, @document.id), :controller => "user_mailers", :action => "create", method: :post, local: true) do |f| %>
        <p class="alert"><%= flash[:mail] %></p>
          <%= f.email_field :send_email, placeholder: "宛先", class:"emailform" %>
          <%= f.text_field :subject, placeholder: "件名", class:"emailform" %>
          <%= f.text_area :message, placeholder: "本文", class:"emailform main", style: "height:130px;" %>
          <%= f.submit "送信", class:"emailSubmit" %>
        <% end %>
      </div>
    </div> 
  </div> 
</div>





