<div class="wrapper">
  <div class="head bg-primary col-xs-12">
    <div class="head-top">
      <div class="links d-flex justify-content-around">
        <%= link_to root_path, class: 'app-name text-monospace' do %>
          <i class="fas fa-book-reader"></i> DocumentViewer
        <% end %>
        <%= link_to destroy_user_session_path, class: "logout nav-link text-light text-monospace", span: "sr-only", method: :delete do %>
          <i class="fas fa-user-slash"></i>ログアウト
        <% end %>
      </div>
    </div>
    <%= form_with model: @document, id:"new_pdf", url: folders_path, local: true do |f| %>
      <% if @document.errors.any? %>
        <div class="alert error-alert">
          <ul>
            <% @document.errors.full_messages.each do |message| %>
              <li class="error-message" style="color: white;">
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <%= f.label :folder_name, class:'text-monospace', style: "color: white;" %>
          <%= f.text_field :folder_name, id: "inputFoldername", placeholder: "フォルダー名", class:'forms text-monospace'  %> 
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :document_tag, class:'text-monospace', style: "color: white;" %>
          <%= f.text_field :document_tag, id: "inputDocumentname", placeholder: "タグ", class:'forms text-monospace'  %>
        </div>
        <div class="form-group col-4">
          <div class="form-group" style="margin-top: 21px;">
            <%= f.label :images, for: "pdf-file", style: "display: none;" %>
            <%= f.file_field :images,  multiple: true, type: "file" %>
            <%= f.submit '送信する', class: "form-submit", accept:"application/pdf" %>
          </div>
        </div>
    <% end  %>
  </div>

  <div class="added-content-preview col-xs-12">
    <div id="preview-list">
    </div>
  </div>
</div>