<div class="document " style="padding: 15px 30px 15px 30px;">
    <% @document.each do |document| %>
      <div class="row d-flex justify-content-around">
      <div class="col-3 border"style="padding: 10px;"><%= @folder.folder_name %></div>
      <div class="col-3 border"style="padding: 10px;">タグ：<%= document.document_name %></div>
      <div class="col-3 border"style="padding: 10px;"><%= document.created_at %></div>
      <div class="col-3 border"style="padding: 10px;">
      <%= link_to "編集", edit_folder_document_path(@folder.id, document.id) %>
      <%= link_to "削除", folder_document_path(@folder.id, document.id), method: :delete%>
      </div>
      <div class="preview " >
      <% document.images.each do |image| %>
        <%= image_tag image.preview(resize: "1000x1050")%>
      <% end %> 
    <% end %>
        </div>
  </div>
</div>

