<div class="document " style="padding: 15px 30px 15px 30px;">
  <% @documents.each do |document| %>
    <div class="row d-flex justify-content-around">
      <div class="document-info col-3 shadow"><%= 'フォルダー名：' %><%= @folder.folder_name %></div>
      <div class="document-info col-3 shadow">タグ：<%= document.document_tag%></div>
      <div class="document-info col-3 shadow"><%='作成日：' %><%=l document.created_at, format: :short%></div>
      <div class="document-info col-3 shadow">
        <%= link_to edit_folder_document_path(@folder.id, document.id), method: :get, class: "document-edit" do %>
          <i class="fas fa-edit fa-xs"></i>編集
        <% end %>
        <%= link_to folder_document_path(@folder.id, document.id), method: :delete, class: "document-delete" do %>
          <i class="far fa-trash-alt"></i>削除
        <% end %>
        <%= link_to new_folder_document_user_mailer_path(@folder.id, document.id), method: :get, class: "document-send" do %>
          <i class="far fa-envelope">メール</i>
        <% end %>
      </div>
    </div>

    <div class="preview" >
      <div class="row">
      <% document.images.each do |image| %>
        <% if image.previewable? %>
          <div class="col-auto" style="padding:10px;">
            <%= image_tag image.preview(resize: "500x500")%>
            <%= link_to rails_blob_path(image) do %>
              <i class="fas fa-book-open">閲覧</i>
            <% end %>
          </div>
        <% end %>
      <% end %> 
      </div>
    </div>
  <% end %>
</div>

