<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
  <%= link_to root_path, class: 'app-name text-monospace', style: "font-size: 20px;" do %>
      <i class="fas fa-book-reader"></i> DocumentsViewer
  <% end %>
    <div class="user-name text-monospace">
      <i class="fas fa-user-tie username"> <%= @user_name %></i>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-turbolinks="false">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to destroy_user_session_path, class: "logout nav-link text-light text-monospace", span: "sr-only", method: :delete do %>
            <i class="fas fa-user-slash"></i>ログアウト
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_folder_path, class: "add-document nav-link text-light text-monospace" do %>
          <i class="fas fa-folder-plus"> フォルダー追加</i>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <div data-no-turbolink>
        <%= form_tag(:controller => 'folders', :action => 'search', method: :post, class: "form-form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :keyword,'', placeholder: "検索", class: "form-control mr-sm-2" %>
        <%= submit_tag "検索", class: "btn btn-outline-light my-2 my-sm-0 " %>
        <% end %>
      </div>
    </div>
</nav>

  




