<div class="wrapper">
  <div class="head bg-primary">
    <div class="head-top d-flex justify-content-around">
      <div class="links d-flex align-items-center">
        <%= link_to root_path, class: 'app-name text-monospace' do %>
          <i class="fas fa-book-reader"></i> DocumentViewer
        <% end %>
      </div>
          <%= link_to destroy_user_session_path, class: "logout nav-link text-light text-monospace", span: "sr-only", method: :delete do %>
            <i class="fas fa-user-slash"></i>ログアウト
          <% end %>
    </div>
    <%= form_with model: [@folder, @document], id:"new_pdf", local: true, url: folder_document_path do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= f.label :document_tag, class: "text-monospace", style: "color: white;" %>
          <%= f.text_field :document_tag, id: "reInputDocumentname", placeholder: "タグ", class: "forms text-monospace"  %>
        </div>
        <div class="form-group col-6">
          <div class="form-group" style="margin-top: 21px;">
            <%= f.file_field :images, type: 'file',  multiple: true %>
            <%= f.submit '送信する', class: "form-submit", accept:".pdf" %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>

  <div class="added-content-preview">
    <div id="preview-list">
      <% @document.images.each do |image| %>
        <% if image.previewable? %>
          <%= image_tag image.preview(resize:'500x1000') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>